<div class="d-flex flex-column gap-2 dh-crit-config">
    {{#if configId}}
    <input type="hidden" name="_configId" value="{{configId}}">
    {{/if}}
    
    <p class="notes"><i class="fas fa-info-circle"></i> Configure visual effects for critical hits.</p>
    
    <div class="form-group">
        <label>Effect Type</label>
        <div class="form-fields">
            <select name="type">
                {{#each effects as |label key|}}
                <option value="{{key}}" {{#if (eq ../config.type key)}}selected{{/if}}>{{label}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    {{#if (eq config.type "shake")}}
    <div class="form-group">
        <label>Intensity</label>
        <div class="form-fields">
            <select name="options.intensity">
                <option value="mild" {{#if (eq config.options.intensity "mild")}}selected{{/if}}>Mild</option>
                <option value="normal" {{#if (or (eq config.options.intensity "normal") (not config.options.intensity))}}selected{{/if}}>Normal</option>
                <option value="extreme" {{#if (eq config.options.intensity "extreme")}}selected{{/if}}>Extreme</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Duration (ms)</label>
        <div class="form-fields">
            <input type="number" name="options.duration" value="{{config.options.duration}}" placeholder="500">
        </div>
    </div>
    {{/if}}

    {{#if (eq config.type "shatter")}}
    <div class="form-group">
        <label>Shard Count</label>
        <div class="form-fields">
            <input type="number" name="options.count" value="{{config.options.count}}" placeholder="200">
        </div>
    </div>
    {{/if}}

    {{#if (eq config.type "border")}}
    <div class="form-group">
        <label>Border Thickness (px)</label>
        <div class="form-fields">
            <input type="number" name="options.thickness" value="{{config.options.thickness}}" placeholder="20">
        </div>
    </div>
    <div class="form-group">
        <label>Color</label>
        <div class="form-fields">
            <input type="color" name="options.color" value="{{config.options.color}}">
        </div>
    </div>
    <div class="form-group">
        <label>Duration (ms)</label>
        <div class="form-fields">
            <input type="number" name="options.duration" value="{{config.options.duration}}" placeholder="3000">
        </div>
    </div>
    {{/if}}

    {{#if (eq config.type "pulsate")}}
    <div class="form-group">
        <label>Intensity (1-5)</label>
        <div class="form-fields">
            <input type="range" name="options.intensity" value="{{config.options.intensity}}" min="1" max="5" step="1">
        </div>
    </div>
     <div class="form-group">
        <label>Duration (ms)</label>
        <div class="form-fields">
            <input type="number" name="options.duration" value="{{config.options.duration}}" placeholder="1000">
        </div>
    </div>
     <div class="form-group">
        <label>Iterations</label>
        <div class="form-fields">
            <input type="number" name="options.iterations" value="{{config.options.iterations}}" placeholder="5">
        </div>
    </div>
    {{/if}}

    {{#if (eq config.type "confetti")}}
    <div class="form-group">
        <label>Intensity</label>
        <div class="form-fields">
            <select name="options.intensity">
                {{#each confettiIntensities as |label key|}}
                <option value="{{key}}" {{#if (or (eq ../config.options.intensity key) (and (not ../config.options.intensity) (eq key "3")))}}selected{{/if}}>{{label}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Duration (ms)</label>
        <div class="form-fields">
            <input type="number" name="options.duration" value="{{config.options.duration}}" placeholder="4000">
        </div>
    </div>
    {{/if}}
    
    <div class="form-footer">
        <button type="button" class="crit-preview-btn">
            <i class="fas fa-play"></i> Preview
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> Save Changes
        </button>
    </div>
</div>