<div class="d-flex flex-column gap-2 dh-crit-sound-config">
    {{#if configId}}
    <input type="hidden" name="_configId" value="{{configId}}">
    {{/if}}
    
    <p class="notes"><i class="fas fa-info-circle"></i> Configure sound effects for critical hits.</p>

    <div class="form-group sound-enable-row">
        <label><i class="fas fa-volume-up"></i> Enable Sound</label>
        <div class="form-fields">
            <label class="slide-toggle">
                <input type="checkbox" name="enabled" {{#if config.enabled}}checked{{/if}}>
                <span class="slider"></span>
            </label>
            <span class="hint">Enable sound for critical hits.</span>
        </div>
    </div>

    <div class="sound-group" {{#unless config.enabled}}style="display:none"{{/unless}}>
        <div class="form-group multi-sound-row">
            <label><i class="fas fa-folder"></i> Multi Sound</label>
            <div class="form-fields">
                <label class="slide-toggle">
                    <input type="checkbox" name="multiSound" {{#if config.multiSound}}checked{{/if}}>
                    <span class="slider"></span>
                </label>
                <span class="hint">Enable to use a folder with multiple sounds (plays random).</span>
            </div>
        </div>

        <div class="form-group">
            <label>{{#if config.multiSound}}Folder Path{{else}}Sound Path{{/if}}</label>
            <div class="form-fields">
                <file-picker style="flex: 1;" type="{{#if config.multiSound}}folder{{else}}audio{{/if}}" name="soundPath" value="{{config.soundPath}}" placeholder="modules/daggerheart-critical/assets/sfx/pc-orchestral-win.mp3"></file-picker>
            </div>
        </div>
        <p class="field-hint">{{#if config.multiSound}}Folder containing audio files. A random sound will be played.{{else}}Audio played when a critical occurs.{{/if}}</p>

        <div class="form-group">
            <label>Volume (%)</label>
            <div class="form-fields">
                <input type="range" class="range-slider" name="volume" value="{{#if config.volume}}{{config.volume}}{{else}}90{{/if}}" min="0" max="100" step="5">
                <span class="range-value">{{#if config.volume}}{{config.volume}}{{else}}90{{/if}}</span>
            </div>
        </div>
    </div>

    <div class="form-footer">
        <button type="button" class="crit-preview-btn">
            <i class="fas fa-play"></i> Preview
        </button>
        <button type="submit">
            <i class="fas fa-save"></i> Save Changes
        </button>
    </div>
</div>
