<div class="crit-splash-container {{typeClass}} {{#unless textConfig.useImage}}crit-fill-{{textConfig.fill}}{{/unless}}"
     style="{{#unless textConfig.useImage}}{{#if (eq textConfig.fill 'full')}}background-color: {{textConfig.backgroundColor}};{{/if}}{{#if (eq textConfig.fill 'band')}}background-color: {{textConfig.backgroundColor}};{{/if}}{{/unless}}">
    {{#if textConfig.useImage}}
    <img class="crit-image crit-image-{{textConfig.imageSize}}" src="{{textConfig.imagePath}}" alt="">
    {{else}}
    <div class="crit-title"
         style="font-family: '{{textConfig.fontFamily}}', sans-serif; font-size: {{textConfig.fontSizeRem}}rem; letter-spacing: {{textConfig.letterSpacingCSS}}; color: {{textConfig.resolvedColor}};{{#if (eq textConfig.fill 'box')}} background-color: {{textConfig.backgroundColor}};{{/if}}">
        {{critTitle}}
    </div>
    {{/if}}
</div>
