<div class="crit-splash-container {{typeClass}} crit-fill-{{textConfig.fill}}">
    
    {{#if artImagePath}}
    <img src="{{artImagePath}}" class="crit-art crit-art-{{artPosition}} crit-art-y-{{artPositionY}} crit-art-size-{{artSize}}" style="--art-offset-x: {{artOffsetX}}px; --art-offset-y: {{artOffsetY}}px;">
    {{/if}}

    {{#if textConfig.useImage}}
        {{#if isVideo}}
            <video src="{{mediaPath}}" autoplay class="crit-video crit-video-{{textConfig.imageSize}}"></video>
        {{else}}
            <img src="{{mediaPath}}" class="crit-image crit-image-{{textConfig.imageSize}}">
        {{/if}}
    {{else}}
        <h1 class="crit-title" 
            style="
                font-family: '{{textConfig.fontFamily}}'; 
                font-size: {{textConfig.fontSizeRem}}rem; 
                letter-spacing: {{textConfig.letterSpacingCSS}};
                color: {{textConfig.resolvedColor}};
                {{#if (ne textConfig.fill 'none')}}background-color: {{textConfig.backgroundColor}};{{/if}}
                {{#if (eq textConfig.fill 'none')}}text-shadow: 4px 4px 0px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;{{/if}}
            ">
            {{critTitle}}
        </h1>
    {{/if}}
</div>